[Unit]
Description=Run Portfolio raw job scraper hourly

[Timer]
OnBootSec=5min
OnStartupSec=5min
OnActiveSec=1h
OnUnitInactiveSec=1h
AccuracySec=5min
Persistent=true
WakeSystem=true
Unit=job-scrape.service

[Install]
WantedBy=timers.target
